body{
    padding: 0;
    margin: 0;
    background: #444;
}
h1{ 
    font-family: fonttr;
    letter-spacing: 3.5px;
    font-size: 60px;
    color: gold;
    margin-left: 5%;
}
.navbar{
 display: flex;
 background: #111;
 font-size: 20px;
 padding: 15px;
}
.navleft{
    width: 45%;
    color: #fff;
    font-weight: 800;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.area{
    display: flex;
}
.area1{
    width: 100%;
    display: flex;
    justify-content: center;
}
img{
    width: 90%;
    height: 80%;
}
@font-face {
    font-family: fonttr;
    src: url(tr.ttf);
}

